@font-face {
  font-family: "gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
}
.background-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
}

/* Background animated blur shapes */
.background-blur {
  height: 70vh;
  width: 100%;
  position: absolute;
  filter: blur(70px);
  background: linear-gradient(to top, #713c9d, #b075e1);
}

.blur-1 {
  transform: rotate(30deg);
  top: -10rem;
  right: -24rem;
  z-index: 10;
  animation: updown0 5s linear infinite alternate;
}

.blur-2 {
  transform: rotate(170deg);
  top: -10rem;
  right: 24rem;
  background: linear-gradient(to top, #713c9d, #b075e1);
  z-index: 0;
  animation: updown1 5s linear infinite alternate-reverse;
}

/* Animations */
@keyframes updown0 {
  from {
    transform: rotate(0deg) translate(-10%, 0);
  }

  to {
    transform: rotate(30deg) translate(-10%, -15%);
  }
}

@keyframes updown1 {
  from {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(-10deg) translateY(10px);
  }
}

/* Footer content */
.footer-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 20px;
  z-index: 20;
  color: white;
}

.footer-heading {
  font-family: gilroy;
  font-weight: bold;
  font-size: 14.5rem;
  line-height: 0%;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.06em;
}

.footer-divider {
  border: none;
  border-top: 1px solid white;
  margin: 10px 0;
}

.footer-links {
  font-family: gilroy;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 600;
  flex-wrap: wrap;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .background-container {
    height: 70vh;
  }
  .background-blur {
    height: 50vh;
    width: 150%;
  }

  .blur-1 {
    transform: rotate(30deg);
    top: -10rem;
    right: -9rem;
    z-index: 10;
    animation: updown0 5s linear infinite alternate;
  }

  .blur-2 {
    transform: rotate(170deg);
    top: -10rem;
    right: 24rem;
    background: linear-gradient(to top, #713c9d, #b075e1);
    z-index: 0;
    animation: updown1 5s linear infinite alternate-reverse;
  }

  .footer-heading {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .background-container {
    height: 50vh;
  }

  .footer-heading {
    font-size: 6rem;
    margin-bottom: 30px;
  }

  .footer-links {
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-heading {
    font-size: 4rem;
  }

  .footer-content {
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}
